*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background:linear-gradient(rgb(73, 73, 132),pink);
    z-index: 9999;
    position:relative;
    display: flex;
    align-items: center;
    /* justify-content:space-around; */
    cursor: none;
}
#cursor{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: rgb(46, 46, 146);
    position: absolute;
    z-index: 999;
    transition: all linear 0.1 s;
}
.elem{
    height:40vh;
    width:25vw;
    position: relative;
    /* background-color: red; */
    left: 11%;
    
    /* margin-right:-5%; */
    display: flex;
    align-items: center;
justify-content:space-around;


}
.elem>img{
  height: 160px;
  width:160px;
  position: absolute;
  border-radius:50%;
  scale:0 ;
  object-fit: cover;
  opacity:0;
  transition: all linear 0.2s;
  z-index:-1;
  


}
.elem>h1{
    font-size:65px;
    margin-left:5%;
    
    font-weight:900;
    color:chartreuse;
    -webkit-text-stroke-color:#000;
    -webkit-text-stroke-width: 1px;
    mix-blend-mode: difference;

}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color:rgba(0, 0, 0, 0);
}
